/*
 * CSS definitions of Autocompleter control
 */

.my-autocompleter {
    position: relative;
    display: inline;
    padding: 0;
    margin: 0;
}

.my-autocompleter input {
    border: 1px solid #609;
    outline: none;
    padding: 2px;
}

.my-autocompleter-list {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: black;
    background-color: white;
    border: 1px solid #609;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    z-index: 10000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.my-autocompleter-list ul {
    list-style-type: none;
    margin: 0;
    padding: 3px;
}

.my-autocompleter-list ul li {
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 3px;
    cursor: pointer;
    vertical-align: middle;
    border : 1px solid #fff;
    font-weight: bold;
    color : #696969;
}

.my-autocompleter-list ul li.selected {
    background-color: #e6d7f5;
    border : 1px solid #609;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.my-autocompleter-indicator {
    background: url(images/search-indicator.gif) no-repeat center;
    padding: 0 12px;
    margin: 0;
}

.my-combobox-button {
    background-image: url(images/cbb.png);
    padding: 1px 8px 1px 9px;
    margin: 0;
    border: solid #609 1px;
    border-left-style: none;
}
