span.acContainer {
    position: relative;
    display: inline;
    padding: 0;
    margin: 0;
}

span.acContainer input {
    /*border: none;*/
    /*outline: none;*/
    /*padding: 0 3px;*/
}

span.cbBtn {
    background: url(images/cbb.png) no-repeat center;
    padding: 1px 8px;
    margin: 0;
    border: solid #609 1px;
}

span.acBtn {
    background: url(images/search-indicator.gif) no-repeat center;
    padding: 0 12px;
    margin: 0;
    border: solid #609 1px;
}

div.autocomplete {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: black;
    background-color: white;
    border: 1px solid #609;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    z-index: 10000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

div.autocomplete ul {
    list-style-type: none;
    margin: 0;
    padding: 3px;
}

div.autocomplete ul li {
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 3px;
    cursor: pointer;
    vertical-align: middle;
    border : 1px solid #fff;
    font-weight: bold;
    color : #696969;
}

div.autocomplete ul li.selected {
    background-color: #e6d7f5;
    border : 1px solid #609;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.shadow {
	-moz-box-shadow: 3px 3px 4px #ddd;
	-webkit-box-shadow: 3px 3px 4px #ddd;
	box-shadow: 3px 3px 4px #ddd;
    /* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#dddddd')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#dddddd');
}