.my-datepicker {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border: #609 1px solid;
    display: block;
    width: 180px;
    padding: 3px;
    z-index: 1000;
}

.my-datepicker-container {
    display: inline-block;
    position: relative;
}

.my-datepicker-container input {
    border: 1px solid #609;
    outline: none;
    padding: 3px;
    margin: 0;
}

.my-datepicker thead th {
    font-weight: bold;
    height: 20px;
    font-size: 11px;
    color: black;
    border-bottom: 2px #609 solid;
    padding: 2px;
}

.my-datepicker .my-datepicker-buttons {
    text-align: center;
    padding: 2px 0;
    vertical-align: middle;
    background: url(images/hrow.gif) repeat-x;
}

.my-datepicker .my-datepicker-footer {
    /* bottom line */
    background-color: #ddd;
    padding: 3px;
    font-size: 11px;
    text-align: center;
    color: black;
}

.my-datepicker table {
    margin: 0;
    padding: 0;
}

.my-datepicker-header {
    padding: 3px 0;
    background-color: #ddd;
    text-align: center;
}

.my-datepicker-header span {
    font-size: 11px;
    color: black;
    font-weight: bold;
}

.my-datepicker-header select {
    font-size: 11px;
}

.my-datepicker-header a:hover {
    color: white;
}

.my-datepicker-header a {
    width: 18px;
    height: 17px;
    text-decoration: none;
    font-size: 11px;
    color: black !important;
}

.my-datepicker-header a.close {
    float: right;
    display: none;
}

.my-datepicker-header select.month {
    width: 80px;
    margin: 0 1px;
}

.my-datepicker-header select.year {
    width: 50px;
    margin: 0 2px;
}

.my-datepicker-header a.prev {
    float: left;
    background: url(images/prev.gif) center no-repeat transparent;
    margin-left: 3px;
}

.my-datepicker-header a.next {
    float: right;
    background: url(images/next.gif) center no-repeat transparent;
    margin-right: 3px;
}

.my-datepicker-body td {
    /* weekday */
    font-size: 11px;
    width: 18px;
    height: 18px;
    background-color: white;
    text-align: center;
    vertical-align: middle;
    padding: 2px;
}

.my-datepicker-body tbody tr:first-child td {
    border-top: 2px #fff solid;
}

.my-datepicker-body td.weekend {
    /* weekend */
    background-color: white;
}

.my-datepicker-body td div {
    /* days */
    color: black;
}

.my-datepicker-body td div.other {
    color: #aaa;
}

.my-datepicker-body td.selected div {
    /* selected date */
    color: red;
}

.my-datepicker-body td.selected {
    background-color: white;
}

.my-datepicker-body td.focus {
    /* day under cursor */
    background-color: #90c;
}

.my-datepicker-body td.focus div {
    /* day under cursor */
    color: white;
}

.my-datepicker-body td.today {
    /* current date */
    border: 1px dashed red;
}

.my-datepicker-body td.disabled div {
    color: #454545;
}

.my-datepicker-buttons a {
    color: black;
    vertical-align: middle;
    font-size: 9px;
}

.my-datepicker-select-button {
    position: absolute;
    top: 0;
    right : 0;
    background: #fff url(images/calb.png) no-repeat 1px 1px;
    width: 20px;
    height: 22px;
    margin: 0;
    border: solid #609 1px;
    border-left-style: none;
}