.myDatePicker {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border: #609 1px solid;
    display: block;
    width: 180px;
    z-index: 1000;
}
/* this is a fun ie6 hack to get drop downs to stay behind the popup window.  This should always be just underneath .myDatePicker */
iframe.ie6_blocker {
    position: absolute;
    z-index: 999;
}

.myDatePicker thead th {
    /* dow headings */
    background: url(images/hrow.gif) repeat-x;
    font-weight: normal;
    height: 20px;
    font-size: 11px;
    color: black;
}

.myDatePicker .mdpButtons {
    text-align: center;
    padding: 2px 0;
    vertical-align: middle;
    background: url(images/hrow.gif) repeat-x;
}

.myDatePicker .mdpFooter {
    /* bottom line */
    background-color: #ddd;
    padding: 3px;
    font-size: 11px;
    text-align: center;
    color: black;
}

.myDatePicker table {
    margin: 0;
    padding: 0;
}

.myDatePicker .mdpHeader {
    padding: 3px 0;
    background-color: #ddd;
    text-align: center;
}

.myDatePicker .mdpHeader span {
    font-size: 11px;
    color: black;
    font-weight: bold;
}

.myDatePicker select { 
    font-size: 11px;
}

.myDatePicker .mdpHeader a:hover {
    color: white;
}
.myDatePicker .mdpHeader a {
    width: 18px;
    height: 17px;
    text-decoration: none;
    font-size: 11px;
    color: black !important;
}

.myDatePicker .mdpHeader a.prev {
    float: left;
}
.myDatePicker .mdpHeader a.next {
    float: right;
}
.myDatePicker .mdpHeader a.close {
    float: right;
    display: none;
}

.myDatePicker .mdpHeader select.month {
    width: 80px;
}

.myDatePicker .mdpHeader select.year {
    width: 50px;
}

.myDatePicker .mdpButtons a {
    color: black;
    vertical-align: middle;
    font-size: 9px;
}
.myDatePicker td {
    /* weekday */
    font-size: 11px;
    width: 18px;
    height: 18px;
    background-color: white;
    text-align: center;
    vertical-align: middle;
}

.myDatePicker td.weekend {
    /* weekend */
    background-color: white;
}

.myDatePicker td div {
    /* days */
    color: black;
}
.myDatePicker td div.other {
    color: #aaa;
}
.myDatePicker td.selected div {
    /* selected date */
    color: red;
}

.myDatePicker td.selected {
    background-color: white;
}

.myDatePicker td.focus {
    /* day under cursor */
    background-color: #90c;
}

.myDatePicker td.focus div {
    /* day under cursor */
    color: white;
}

.myDatePicker td.today {
    /* current date */
    border: 1px dashed red;
}

.myDatePicker td.disabled div {
    color: #454545;
}

.fieldWithErrors .myDatePicker {
    border: 2px solid red;
}

.myDatePicker div.next {
    background: url(images/next.gif) center no-repeat transparent;
    width: 16px;
    height: 16px;
}

.myDatePicker div.prev {
    background: url(images/prev.gif) center no-repeat transparent;
    width: 16px;
    height: 16px;
}