.my-datepicker {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background-color: #fff;
    border: #609 1px solid;
    display: block;
    padding: 3px;
    z-index: 1000;
}

.my-datepicker-container {
    display: inline-block;
    position: relative;
}

.my-datepicker-container input {
    border: 1px solid #609;
    outline: none;
    padding: 3px;
    margin: 0;
}

/*************************************************/
/* DatePicker Header                             */
/*************************************************/
.my-datepicker-header {
    position: relative;
    padding: 3px 0;
    background-color: #ddd;
    text-align: center;
    height: 24px;
}

.my-datepicker-header span.selected-date {
    font-size: 12px;
    color: #609;
    font-weight: bold;
    padding: 4px;
    display: block;
}

.my-datepicker-header select {
    font-size: 11px;
}

.my-datepicker-header a:hover {
    color: white;
}

.my-datepicker-header a {
    width: 18px;
    height: 17px;
    text-decoration: none;
    font-size: 11px;
    color: black !important;
}

.my-datepicker-header a.close {
    float: right;
    display: none;
}

.my-datepicker-header select.month {
    width: 80px;
    margin: 0 1px;
}

.my-datepicker-header select.year {
    width: 50px;
    margin: 0 2px;
}

.my-datepicker-header a.prev {
    position: absolute;
    left: 5px;
}

.my-datepicker-header a.prev span {
    background: url(images/prev.gif) center no-repeat transparent;
}

.my-datepicker-header a.next {
    position: absolute;
    right: 5px;
}

.my-datepicker-header a.next span {
    background: url(images/next.gif) center no-repeat transparent;
}

/*************************************************/
/* DatePicker Body                               */
/*************************************************/
.my-datepicker-body th {
    font-weight: bold;
    font-size: 11px;
    color: black;
    background-color: #fff;
    border-bottom: 2px #696969 solid;
    padding: 2px;
}

.my-datepicker-body td {
    /* weekday */
    font-size: 11px;
    background-color: white;
    text-align: center;
    vertical-align: middle;
}

/*
.my-datepicker-body tbody tr:first-child td {
    border-top: 2px #fff solid;
}
*/

.my-datepicker-body td.week-number {
    padding: 2px;
}

.my-datepicker-body td.week-number div {
    background-color: #696969;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
}

.my-datepicker-body td.weekend {
    /* weekend */
    background-color: white;
    padding: 1px;
}

.my-datepicker-body td div {
    /* days */
    color: black;
    padding: 2px 4px;
}

.my-datepicker-body td div.other {
    color: #aaa;
}

.my-datepicker-body td.selected div {
    /* selected date */
    color: red;
}

.my-datepicker-body td.selected {
    background-color: white;
}

.my-datepicker-body td.focus div {
    /* day under cursor */
    background-color: #90c;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.my-datepicker-body td.focus div {
    /* day under cursor */
    color: white;
}

.my-datepicker-body td.today {
    /* current date */
    border: 1px dashed red;
}

.my-datepicker-body td.disabled div {
    color: #454545;
}

/*************************************************/
/* DatePicker Buttons                            */
/*************************************************/
.my-datepicker-footer {
    position: relative;
    color: #609;
    font-weight: bold;
    padding: 3px;
    vertical-align: middle;
    background-color: #ddd;
    height: 24px;
}

.my-datepicker-footer select {
    font-size: 12px;
}

.my-datepicker-footer a {
    color: black;
    font-size: 9px;
    vertical-align: middle;
}

.my-datepicker-select-button {
    position: absolute;
    top: 0;
    right : 0;
    background: #fff url(images/calb.png) no-repeat 1px 1px;
    width: 20px;
    height: 22px;
    margin: 0;
    border: solid #609 1px;
    border-left-style: none;
}

.my-datepicker-footer .buttons-container {
    position: absolute;
    padding: 0;
    margin: 0;
    right: 5px;
}

.new-month-separator {
    border-left: solid dimgray 2px;
}