/*
 * General purpose CSS definitions
 */

.shadow {
	-moz-box-shadow: 3px 3px 4px #ddd;
	-webkit-box-shadow: 3px 3px 4px #ddd;
	box-shadow: 3px 3px 4px #ddd;
}

.gradient {
    background: -moz-linear-gradient(top,  #ccc,  #999);
    background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#999));
}
