.my-tooltip {
    position: absolute;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 2px 4px;
    border: 1px #ccc double;
}

.error {
    color: #fff;
    background-color: #f00;

}


.my-tooltip .info {
    color: #000;
    background-color: #ff9;
}