.my-tooltip {
    position: absolute;
    padding: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    z-index: 10000;
}

.my-tooltip-error {
    color: #000;
    background: url('images/error.png') no-repeat 3px 3px #ccc;
    border: #f00 solid 1px;

}

.my-tooltip-info {
    color: #000;
    background: url('images/info.png') no-repeat 3px 3px #ff9;
    border: #000 solid 1px;
}

.my-tooltip-inner {
    padding: 1px 1px 1px 25px;
}
